:root {
  /* https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#monospace-code */
  --font-family: "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
  font: 16px/20px var(--font-family);
  background-color: #fff;

  @media (prefers-color-scheme: dark) {
    background-color: #555;
  }
}

body {
  margin: 50vh 50vw;
  --pos-m: 15.5vmin;
  --width-m: 4.25vmin;
}

/* Color */

.Color {
  box-sizing: border-box;
  position: absolute;
  border-radius: 100%;
  --width: calc(var(--size, 1) * var(--width-m));
  width: var(--width);
  height: var(--width);
  margin: calc(var(--width) / -2);
  background-color: rgb(var(--r, 0), var(--g, 0), var(--b, 0));
  transform: translate(
    calc((var(--rx, 0) + var(--gx, 0) + var(--bx, 0)) * var(--pos-m)),
    calc((var(--ry, 0) + var(--gy, 0) + var(--by, 0)) * var(--pos-m))
  );

  &:hover {
    border-width: 2px;
    border-style: solid solid;
    border-color: white black;
  }

  &:not([id*="rf"]):not([id*="gf"]):not([id*="bf"]) {
    --size: 2;

    &:not([id*="ra"]):not([id*="ga"]):not([id*="ba"]) {
      --size: 3;

      &:not([id*="r5"]):not([id*="g5"]):not([id*="b5"]) {
        --size: 4;
      }
    }
  }
}

[id*="r5"] {
  --ry: calc(cos(0deg) * 1);
  --rx: calc(sin(0deg) * 1);

  &,
  &:hover ~ .Preview {
    --rt: "5";
    --r: 85;
  }
}
[id*="ra"] {
  --ry: calc(cos(0deg) * 2);
  --rx: calc(sin(0deg) * 2);

  &,
  &:hover ~ .Preview {
    --rt: "a";
    --r: 170;
  }
}
[id*="rf"] {
  --ry: calc(cos(0deg) * 3);
  --rx: calc(sin(0deg) * 3);

  &,
  &:hover ~ .Preview {
    --rt: "f";
    --r: 255;
  }
}

[id*="g5"] {
  --gy: calc(cos(120deg) * 1);
  --gx: calc(sin(120deg) * 1);

  &,
  &:hover ~ .Preview {
    --gt: "5";
    --g: 85;
  }
}
[id*="ga"] {
  --gy: calc(cos(120deg) * 2);
  --gx: calc(sin(120deg) * 2);

  &,
  &:hover ~ .Preview {
    --gt: "a";
    --g: 170;
  }
}
[id*="gf"] {
  --gy: calc(cos(120deg) * 3);
  --gx: calc(sin(120deg) * 3);

  &,
  &:hover ~ .Preview {
    --gt: "f";
    --g: 255;
  }
}

[id*="b5"] {
  --by: calc(cos(-120deg) * 1);
  --bx: calc(sin(-120deg) * 1);

  &,
  &:hover ~ .Preview {
    --bt: "5";
    --b: 85;
  }
}
[id*="ba"] {
  --by: calc(cos(-120deg) * 2);
  --bx: calc(sin(-120deg) * 2);

  &,
  &:hover ~ .Preview {
    --bt: "a";
    --b: 170;
  }
}
[id*="bf"] {
  --by: calc(cos(-120deg) * 3);
  --bx: calc(sin(-120deg) * 3);

  &,
  &:hover ~ .Preview {
    --bt: "f";
    --b: 255;
  }
}

/* Preview */

.Preview {
  background-color: rgb(var(--r, 0), var(--g, 0), var(--b, 0));
  color: rgb(var(--r, 0), var(--g, 0), var(--b, 0));
  position: absolute;
  top: 0;
  left: 0;
  grid-template-columns: 1fr 1fr;
  padding-top: 3lh;
  display: none;

  > * {
    padding: 1lh 1ch;
  }

  &::before {
    content: "#" var(--rt, "0") var(--gt, "0") var(--bt, "0");
    display: block;
    position: absolute;
    top: 1lh;
    right: 1ch;
    color: #fff;
  }
}

.Color:is(
    [id*="rf"]:is([id*="ga"], [id*="gf"], [id*="ba"], [id*="bf"]),
    [id*="gf"]:is([id*="ra"], [id*="rf"], [id*="ba"], [id*="bf"]),
    [id*="bf"]:is([id*="ga"], [id*="gf"], [id*="ra"], [id*="rf"]),
    [id*="ra"][id*="ga"][id*="ba"]
  ):hover
  ~ .Preview::before {
  color: #000;
}

.Preview-LightText {
  color: #fff;
}

.Preview-DarkText {
  color: #000;
}

.Preview-LightBack {
  background-color: #fff;
}

.Preview-DarkBack {
  background-color: #000;
}

.Color:hover ~ .Preview {
  display: grid;
}

.Color:is(
    [id*="b5"]:not([id*="g5"], [id*="ga"], [id*="gf"]),
    [id*="ba"]:not([id*="ga"], [id*="gf"]),
    [id*="bf"]:not([id*="gf"])
  ):hover
  ~ .Preview {
  left: unset;
  right: 0;
}

/* About */

.About {
  position: absolute;
  bottom: 1lh;
  left: 2ch;
  /* This color was picked using this exact tool! Own dog food is pretty good :) */
  color: #aaa;
}

/* Message */

@keyframes Message-Animation {
  from,
  90% {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(1lh);
    opacity: 0;
  }
}

.Message {
  position: absolute;
  inset: auto auto 3lh 1ch;
  background-color: #000;
  width: fit-content;
  padding: 1lh 1ch;
  border-radius: 1ch;
  color: #fff;
  opacity: 0;
  pointer-events: none;
}

.Message_animated {
  animation: 2.5s linear Message-Animation;
}
